/* Stylesheet for the DiscordLogger web app  */

@media (min-width: 768px) {
    #query-box {
        width: calc(100% - 12em);
    }
    #query-box > input {
        width: 100%;
    }

    #query-button {
        width: 11em;
    }

}

form {
    margin-bottom: 2em;
}

/* === SQL result styling === */

.sql-null {
    color: #AAA;
    font-style: italic;
}

/* === Bootstrap labels  === */

.label {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 0 0.3em 0.1em;
}

.label-default {
    background-color: #aaa;
}


/* === Psuedo JSON syntax highlighting === */

.string {
    color: #d9534f;
}

.key, .number {
    color: #5cb85c;
}

.int {
    color: #337ab7;
}

.bool, .null {
    color: #337ab7;
    font-weight: bold;
}

.type-or {
    font: serif;
    font-style: italic;
}


/* === Psuedo JSON lines and info boxes === */

.infoline {
    white-space: pre;
}

.expandline:hover {
    background-color: #eaeaea;
}

.infobox {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    white-space: normal;
}

.infoblock {
    white-space: normal;
}
